*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Roboto Mono', monospace;
}

body{
    height: 100vh;
    overflow: hidden;
    background-color: #2C2F33;
}

*::-webkit-scrollbar {
    display: none;
}

::selection{
    background: #18fc1c;
}

blockquote {
    font-family: 'PT Sans', sans-serif;
    padding: 3rem 10% 3rem;
    display: inline-block;
    clear: both;
    color: rgb(189, 189, 189);
    font-size: 1.75rem;
    font-weight: 700;
    margin: 1rem auto 2.5rem;
    position: relative;
    text-align: center;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
}

blockquote:after, blockquote:before {
    content: " ";
    border-top: 3px solid #efefef;
    position: absolute;
    top: .625rem;
    width: 50%;
    height: 1px;
    left: 25%;
}

blockquote:after {
    bottom: .625rem;
    top: auto;
    width: 30%;
    left: 35%;
}

a{
    color: aqua;
}

p, h1{
    color: white;
}

li{
    color: aliceblue;
}

.all-site{
    width: 100%;
    min-height: 100vh;
}

.presentation-body{
    position: fixed;
    z-index: 999;
    top: 0;
}

/* SCROLLBAR INDICATOR TEST */
.scrollbar-indicator{
    position: fixed;
    z-index: 900;
    top: 0;
    right: 0;
}

#scrollbar-indicator-elem{
    position: fixed;
    opacity: 0;
    width: 4px;
    height: 90%;
    top: 0;
    right: 0;
    background-color: aqua;
    transition-duration: 0.5s;    
    transition-property: opacity;
}

.site-brand-div{
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: title 2s ease 0s both;
}

.site-brand{
    color: white;
    font-size: 100px;
}

#site-body{
    width: 65%;
    margin: 80px auto 50px auto;
    opacity: 0;
    transition-duration: 0.5s;
    text-align: justify;
}

@media only screen and (max-width: 1000px) {
    #site-body{
        width: 80%;
    }
    .site-brand{
        font-size: 50px;
    }
}

@media only screen and (max-width: 650px) {
    #site-body{
        width: 95%;
    }
    .site-brand{
        font-size: 30px;
    }
}

/* 2 ELEMENTS COL */
.col-2{
    margin: 25px 0;
    display: flex;
    justify-content: space-between;
}

.col-2 figure{
    width: 49%;
}

@media only screen and (max-width: 800px) {
    .col-2{
        flex-direction: column;
    }

    .col-2 figure{
        width: 99%;
        margin: 5px auto;
    }
}

figure{
    position: relative;
}

figure img{
    width: 100%;
}

figcaption{
    color: white;
    position: absolute;
    bottom: 5px;
    right: 2px;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 5px 4px;
}


/* FOOTER */

footer{
    margin: 40px auto 0 auto;
}

footer p{
    text-align: center;
}





















.layer{
    opacity: 0.04;
    position: fixed;
    width: 100%;
    height: 110vh;
    z-index: 1000;
    top: 0;
    /* transform: translateY(-50%); */
}

.layer1{
    background-color: red;
    clip-path: polygon(0 0, 100% 0%, 100% calc(100% - 40px), 0 100%);
    animation: layer1 0.7s ease-in 0.3s both;
}

.layer2{
    background-color: rgb(0, 60, 255);
    clip-path: polygon(0 0, 100% 0%, 100% calc(100% - 60px), 0 calc(100% - 2px));
    animation: layer2 0.7s ease-in 0.15s both;
}

.layer3
{
    background-color: rgb(255, 196, 0);
    clip-path: polygon(0 0, 100% 0%, 100% calc(100% - 80px), 0 calc(100% - 4px));
    animation: layer3 0.7s ease-in both;
}

@keyframes layer1{
    0%{

    }
    80%{
        height: 0;
        width: 40%;
        clip-path: polygon(0 0, 100% 0%, 100% calc(100% - 80%), 0 60%);
    }
    100%{
        height: 0;
        width: 40%;
        clip-path: polygon(0 0, 100% 0%, 100% calc(100% - 80%), 0 60%);
    }
}

@keyframes layer2{
    0%{

    }
    80%{
        height: 0;
        width: 40%;
        clip-path: polygon(0 0, 100% 0%, 100% calc(100% - 80%), 0 55%);
    }
    100%{
        height: 0;
        width: 40%;
        clip-path: polygon(0 0, 100% 0%, 100% calc(100% - 80%), 0 55%);
    }
}

@keyframes layer3{
    0%{

    }
    80%{
        height: 0;
        width: 40%;
        clip-path: polygon(0 0, 100% 0%, 100% calc(100% - 80%), 0 50%);
    }
    100%{
        height: 0;
        width: 40%;
        clip-path: polygon(0 0, 100% 0%, 100% calc(100% - 80%), 0 50%);
    }
}

@keyframes title{
    0%{
        height: 40vh;
    }
    50%{
        height: 100vh;
    }
    70%{
        height: 100vh;
        opacity: 1;
    }
    100%{
        height: 100vh;
        opacity: 0;
    }
}
